body {
    background-color: #00326c;
    align-content: center;
}


#question-container {
    padding: 30px;
    padding-bottom: 5px;


}


.question-body {
    height: 160px;
}

#questions-panel {
    text-align: center;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
}
